[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "==0.13.5"
mouse = "==0.7.1"
paho-mqtt = "==1.5.1"
psutil = "==5.8.0"
Pillow = "==8.2.0"
PySide2 = "==5.15.2"

[dev-packages]

[requires]
python_version = "3.8"
